.about {
    display: grid;
    grid-column: center-start / center-end;
    margin: 8rem 0;
    grid-template-columns: repeat(2, 1fr);
    gap: 6rem;
    justify-content: center;

    @include responsive(tab-port) {
        grid-template-columns: 1fr;
        padding: 1rem;
        grid-column: full-start / full-end;
    }


    &__logo {
        justify-self: center;
        grid-column: 1 / -1;
        object-fit: none;
        width: 80%;

         @include responsive(tab-port) {
             margin: 1rem;
         }
        
    }

    .paragraph {
        grid-column: 1 / -1;
        text-align: center;
        width: 80%;
        justify-self: center;

        @include responsive(tab-port) {
            width: 100%;
        }

        
    }
}
.col-1-of-2{
    height: 40vh;
}

.col-2-of-2 {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    h3 {
        padding-bottom: 3rem;
    }
    .paragraph {
        text-align: left;
        font-size: 1.7rem;
        width: 100%;
    }
}